@model PSoftware.Models.NhaPhatTrien

@{
    ViewBag.Title = "Xóa nhà phát triển";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 style="padding:30px 0px">XÓA NHÀ PHÁT TRIỂN</h2>
<h3>Bạn có chắc muốn xóa nhà phát triển này?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Về lại danh sách", "Index")
        </div>
    }
</div>
