@model List<PSoftware.Models.TheLoai>

@{
    ViewBag.Title = "Danh sách thể loại";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MaTL", rowsPerPage: 10);
}

<style>
    .alternatingRowStyle {
        background-color: #e3f2fd;
    }

    .grid-footer {
        color: #000;
        font: 20px;
        text-align: center;
        font-weight: bold;
    }

        .grid-footer --> a {
            background-color: #ffffff;
            color: #007bff;
            padding: 8px;
        }

            .grid-footer --> a:active, a:hover {
                background-color: #ffffff;
                color: #FFAD33;
            }
</style>
<h3 style="text-align: center; padding:30px;">Danh Sách Thể Loại</h3>
<p>
    @Html.ActionLink("Thêm thể loại", "Create")
</p>
<div id="gridContent">
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
        columns: new[]  // colums in grid
        {
            grid.Column("MaTL","Mã TL"), //the model fields to display
            grid.Column("TenTL","Tên TL"  ),
            grid.Column(format: (item) => Html.ActionLink("Sửa", "Edit", "QLTheLoais",new { id = item.MaTL },"QLTheLoaisController")),
            grid.Column(format: (item) => Html.ActionLink("Xem", "Details","QLTheLoais", new { id = item.MaTL },"QLTheLoaisController")),
            grid.Column(format: (item) => Html.ActionLink("Xóa", "Delete","QLTheLoais", new { id = item.MaTL },"QLTheLoaisController")),
        }
    )
</div>
