@model IEnumerable<PSoftware.Models.SanPham>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- <div class="home-content">
          <i class='bx bx-menu' ></i>
          <span class="text">Drop Down Sidebar</span>
        </div> -->

<div class="container">
    <div class="row pt-4">
        <div class="product-group">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://cdn.akamai.steamstatic.com/steam/apps/413150/header.jpg?t=1608624324" alt="Card image cap">
                        <!-- <div class="card-body">
                          <h5 class="card-title">Subnautica: Below Zero</h5>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-4 col-12" style="height:100%">
                    @foreach (var item in Model.Take(2))
                    {
                        <div class="col-md-12 col-sm-6 col-12" style="height:50%">
                            <div class="card card-product">
                                <img class="card-img-top" src="@item.Anh" alt="Card image cap">
                                <!-- <div class="card-body">
                                  <h5 class="card-title">Ancient Cities</h5>
                                </div> -->
                            </div>
                        </div>
                    }
                    @*<div class="col-md-12 col-sm-6 col-12" style="height:50%">
                        <div class="card card-product">
                            <img class="card-img-top" src="https://steamcdn-a.akamaihd.net/steam/apps/35140/header.jpg" alt="Card image cap">
                            <!-- <div class="card-body">
                              <h5 class="card-title">Ancient Cities</h5>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-12" style="height:50%">
                        <div class="card card-product">
                            <img class="card-img-top" src="https://steamcdn-a.akamaihd.net/steam/apps/1593500/header.jpg" alt="Card image cap">
                            <!-- <div class="card-body">
                              <h5 class="card-title">Valheim</h5>
                            </div> -->
                        </div>
                    </div>*@
                </div>

                @foreach (var item in Model.Take(4))
                {
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="card card-product mb-3">
                            <img class="card-img-top" src="@item.Anh" alt="Card image cap">
                            <!-- <div class="card-body">
                              <h5 class="card-title">Oxygen Not Included</h5>
                            </div> -->
                        </div>
                    </div>
                }
                @*<div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://steamcdn-a.akamaihd.net/steam/apps/1245620/header.jpg" alt="Card image cap">
                        <!-- <div class="card-body">
                          <h5 class="card-title">Oxygen Not Included</h5>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://steamcdn-a.akamaihd.net/steam/apps/374320/header.jpg" alt="Card image cap">
                        <!-- <div class="card-body">
                          <h5 class="card-title">SWORD ART ONLINE Alicization Lycoris</h5>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://steamcdn-a.akamaihd.net/steam/apps/814380/header.jpg" alt="Card image cap">
                        <!-- <div class="card-body">
                          <h5 class="card-title">Totally Accurate Battle Simulator</h5>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://steamcdn-a.akamaihd.net/steam/apps/601150/header.jpg" alt="Card image cap">
                        <!-- <div class="card-body">
                          <h5 class="card-title">Totally Accurate Battle Simulator</h5>
                        </div> -->
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="product-group">
            <div class="row row-cols-1
              row-cols-sm-2
              row-cols-md-3
              row-cols-lg-4
              row-cols-xl-5">
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Angel Has Fallen</h5>
                            <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a-- href="#" class="btn btn-primary">Go somewhere</a-->
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Men In Black: International</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">X-Men: Dark Phoenix</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Anna</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Zombieland: Double Tap</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Fast & Furious Presents: Hobbs & Shaw</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Captain Marvel</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Godzilla: King of the Monsters</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Avengers: Endgame</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Ant-Man and the Wasp</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Deadpool 2</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Avengers: Infinity War</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Black Panther</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Star Wars: Episode VIII - The Last Jedi</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">American Made</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">War For The Planet Of The Apes</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">The Great Wall</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Star Wars: Rogue One</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mechanic: Resurrection</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-12d5">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="https://pgames.netlify.app/images/Movie/Action/thumbnail1.11.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Captain America: Civil War</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>